.root{
    
}

.name-of-project{
    
}
/**hello**/

h1{
color:#F3FFB6;
align-self:center;
font-size:4em;

}

.container{
display:flex;
flex-direction:column;
justify-content:center;

}

button{
    height: 3em;
    width:20%;
    align-self:center;
    background-color:#D38B5D;
    border-radius:1em;
    color:white;
    border-width:0em;
    font-size: 1em;
}

input{
    height:3em;
    width:50%;
    align-self:center;
    border-radius:1em;
    border-width:0px;
    background-color:#fafdee;
}

a{
    align-self:center;
    color:white;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    background-color:#739E82;
    margin:0;
}

button:hover{
    background-color:#F3FFB6;
    transition:0.35s;
    color:rgb(88, 88, 88);
}

footer {
    position: absolute;
    right: 0;bottom:0;left:0;
    background-color:#2C5530;
    height:5em;
  }

  header {
    right:0;top:0;left:0;
    background-color:#2C5530;
    height:7em;

  }